body{
  height:100vh;
  margin:0;
  padding:0;
   background: linear-gradient(to top left,#253a5f, #493145);
}

label{
color:white;}

.btn{
  width:100%;
  color:white;
  background-color:#2b2633;
  margin:0;
}
input[type= "text"],input[type= "text"]:focus{background:#2b2633; border:#2b2633; color:white;}
input[type= "email"],input[type= "email"]:focus{background:#2b2633; border:#2b2633;color:white;}
input[type= "password"],input[type= "password"]:focus{background:#2b2633; border:#2b2633;color:white;}
textarea
{background:#2b2633; 
  border:#2b2633;}
container{
  height:100%;
padding:0;
margin:0;}
form{
  padding-top:40px;
  margin:0;
  
}